# URLs de los Backends (usados durante la generación de la página estática)
# Cambia estas URLs si tus backends corren en otra máquina / puerto


BACKEND_USERS_URl=http://44.200.128.23:8081
BACKEND_PRODUCTS_URl=http://54.234.26.106:8082