# URLs de los Backends (usados durante la generación de la página estática)
# Cambia estas URLs si tus backends corren en otra máquina / puerto


BACKEND_USERS_URL=http://52.203.136.38:8081
BACKEND_PRODUCTS_URL=http://54.87.156.225:8082
